<!DOCTYPE html>
<html lang="it">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">



        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Libre+Baskerville:ital@1&family=Petit+Formal+Script&family=Playfair+Display:ital@1&display=swap" rel="stylesheet">

        <!-- 1° Font Main -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

        <!-- 2° Font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&display=swap" rel="stylesheet">
        
        <!-- VueJs -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

        <!-- Font-awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

        <link rel="icon" href="src/img/favicon/favicon.ico">


        <!-- Main style -->
        <link rel="stylesheet" href="dist/app.css">

        <title>Avada Restaurant</title>
    </head>

    <body>

        <!-- Root -->
        <div id="root">
            <header class="flex">

                <!-- Top Header -->
                <div class="top_header flex">

                    <!-- Left top header -->
                    <div class="left_top_header">
                        <div class="logo">
                            <a href="#">  <img src="src/img/logo-restaurant-2x.png" alt="logo-avada-restaurant"> </a>
                        </div>
                    </div>
                    <!-- /Left top header -->

                    <!-- Right top header -->
                    <div class="right_top_header">

                        <ul class="nav_bar_menu_header flex">
                            <li v-for="item in navbar" >
                                    <a :href="'#' + item.nameItem" @click="removeActiveFromMenuHeader(),item.active = !item.active" :class="{'active_menu_item' : item.active}">{{item.nameItem}}
                                    <small class="new text_bold font-size-12" v-show="item.new">New</small>
                                    <i v-if="item.icon" :class="item.pathIcon"></i> 
                            
                            </a></li>
                        </ul>

                    </div>
                    <!-- /Right top header -->

                </div>
                <!-- /Top Header -->


                <div class="inter_sec_section flex header_content" >

                    <!-- Left -->
                    <div class="left_inter_sec_section bgImg-full-cover ">                           
                    </div>
    
                    <!-- Right  -->
                    <div class="right_inter_sec_section flex flex_colum">

                            <p class="flex"> <span></span><small class="font-size-14 text_light text_uppercase">{{header.subtitle}}</small></p>
                            <div class="title_header_left">
                                <h2 class="font-size-70">{{header.title}}</h2>
                            </div>
                            <p class="font-size-20 text_light description">{{header.content}}
                            </p>
                            <button>{{header.textButton}}</button>
                        
                    </div>
                </div>

            </header>

            <!-- Main -->
            <main>
                    <!-- First section -->
                    <div class="first_section flex">
                        <!-- Left section -->
                        <div class="left_first_section flex flex_colum">
                            <p><strong>hac tellus, felis risus at</strong>
                            mattis mattis. Eget euimod semper eget tortor, donec
                            amet, blandit. Tristque facilisi faucibus elementum
                            feugiat in nam in feugiat. Ipsum odio etiam duis
                            facilisis amet vulputate.
                            </p>
                            <h2 class="font-size-44">food is our common ground, a universal experience.</h2>
                            <p>Tristique tempus condimentum diam donec. Condimentum ullamcorper sit elementum hendreit mi
                                nulla in consequat, ut.Metus, nullam scelerisque netus viverra dui.
                            </p>
                            <img src="src/img/signature.jpg" alt="signature-logo">
                        </div>
                        <!-- /Left section -->

                        <!-- Right section -->
                        <div class="right_first_section flex">
                            <p class="font-size-12">california rolls - $22</p>
                        </div>
                        <!-- /Right section -->

                        <div class="bottom_first_section flex">

                               <!-- 1° Card -->
                            <div class="card_first_section flex flex_colum flex flex_colum">
                                <img src="src/img/sushi-1.png" alt="icon-card">
                                <h3>the best table in town</h3>
                                <hr>
                                <p><small>Sed aenean egestas ut aliquam turpis mauris, molestie. Vietae tellus tempor sem id tempus
                                    neque, tellus turpis. Morbi tortor id gravida aliquet.
                                </small></p>
                                <button class="btn_light">explore the menu</button>
                            </div>

                             <!-- 2° Card -->
                            <div class="card_first_section flex flex_colum flex flex_colum">
                                <img src="src/img/sushi-2.png" alt="icon-card">
                                <h3>perfect for group</h3>
                                <hr>
                                <p><small>Quam eu proin sit massa condimentum. Volupat non polvinar nunc. Orci elementum in aliquet a gravida vivamus aliquam
                                    vivamus aliquad turpis vitae.
                                </small></p>
                                <button class="btn_light">make a reservation</button>
                            </div>

                            <!-- 3° Card -->
                            <div class="card_first_section flex flex_colum flex flex_colum">
                                <img src="src/img/sushi-3.png" alt="icon-card">
                                <h3>fresh produce everyday</h3>
                                <hr>
                                <p><small>Hendrerit amet, volutpat leo non, commondo maccenas scelerisque tincidunt. Morbi vulputate morbi 
                                        purus quisque sit sagittis orci elementum gravida.
                                </small></p>
                                <button class="btn_light">learn more about us</button>
                            </div>
                        </div>
                       

                    </div>
                    <!-- /First section -->
             
                    <!-- Second section -->
                    <div class="second_section flex" >

                        <div class="inter_sec_section flex" >

                            <!-- Left -->
                            <div class="left_inter_sec_section bgImg-full-cover " :style="{ backgroundImage: 'url(' + interSection[0].pathBg + ')' }">                           
                            </div>
            
                            <!-- Right  -->
                            <div class="right_inter_sec_section flex flex_colum">
    
                                    <p class="flex"> <span></span><small class="font-size-14 text_light text_uppercase">{{interSection[0].subTitle}}</small></p>
                                    <div class="title_header_left">
                                        <h2>{{interSection[0].title}}</h2>
                                    </div>
                                    <p class="font-size-20 text_light description">{{interSection[0].content}}
                                    </p>
                                    <button><i v-if="interSection[0].iconButton" :class="interSection[0].iconPath"></i> {{interSection[0].textButton}}</button>
                                
                            </div>
                        </div>
                    </div>
                    <!-- /Second section -->


                    <!-- Critics section -->
                        <div id="critics" class="critics_section flex flex_colum">
                            <div class="title_section">
                                <h2 class="font-size-30">What critics are saying about us</h2>
                                <hr>
                            </div>
                        
                            <!-- Main card -->
                            <div class="main_card card flex">
                                <div class="left_card bgImg-full-cover">

                                </div>

                                <div class="right_card flex flex_colum">
                                    <div class="author">
                                        <small class="text_uppercase"> {{critics[0].author}}</small>
                                    </div>
                                 
                                    <div class="newpaper font-size-20">
                                        <h3 class="font-size-30">{{critics[0].newspaper}}</h3>
                                    </div>
                                    <div class="vote">
                                        <i class="fas fa-star" v-for="i in critics[0].vote"></i>
                                    </div>
                                    <div class="line">
                                        <hr>
                                    </div>
                                    <div class="critic_content text_light">
                                        <p>{{critics[0].content}}</p>
                                    </div>
                                    
                                    <div>
                                        <button class="font-size-12"> read full article</button>
                                    </div>
                                </div>
                             
                            </div>


                            <div class="secondary_cards flex">

                                <div v-for="critic in critics.slice(1,3)" class="card flex flex_colum bgImg-full-cover">
                                    <div class="author">
                                        <small class="text_uppercase"> {{critic.author}}</small>
                                    </div>
                                 
                                    <div class="newpaper font-size-20">
                                        <h3 class="font-size-30">{{critic.newspaper}}</h3>
                                    </div>
                                    <div class="vote">
                                        <i class="fas fa-star" v-for="i in critic.vote"></i>
                                    </div>
                                    <div class="line">
                                        <hr>
                                    </div>
                                    <div class="critic_content text_light">
                                        <p> {{critic.content}}</p>
                                    </div>
                                    
                                    <div>
                                        <button class="font-size-12"> read full article</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    <!-- /Critics section -->

                    <!-- 4th section -->
                    <div class="s4th_section flex bgImg-full-cover">
                        <p class="font-size-14 text_uppercase">kung pao chicken - $32</p>
                    </div>
                    <!-- 4th section -->


                    <!-- News section -->
                        <div id="news" class="news_section flex flex_colum">
                            <div class="title_section">
                                <h2 class="font-size-30">Last News & promotions</h2>
                                <hr>
                            </div>

                            <!-- Cards -->
                            <div class="cards flex">
                                <div v-for="article in news" class="card flex flex_colum">
                                    <div class="bg_article flex flex_colum" :style="{ backgroundImage: 'url(' + article.pathBg + ')' }">
                                        <i class="fas fa-link"></i>
                                        <h3> {{article.title}} </h3>
                                        <p><small>{{article.category}}</small></p>
                                    </div>
                                    <h3> {{article.title}} </h3>
                                    <p class="font-size-12">By {{article.author}} | {{article.date}} | Categories: {{article.category}}</p>
                                </div>
                            </div>
                          
                        </div>
                    <!-- /News section -->


                    <!-- Takeout section -->
                    <div id="takeout" class="takeout_section">
                        <div class="inter_sec_section flex" >

                            <!-- Left -->
                            <div class="left_inter_sec_section bgImg-full-cover " :style="{ backgroundImage: 'url(' + interSection[1].pathBg + ')' }">                           
                            </div>
            
                            <!-- Right  -->
                            <div class="right_inter_sec_section flex flex_colum">
    
                                    <p class="flex"> <span></span><small class="font-size-14 text_light text_uppercase">{{interSection[1].subTitle}}</small></p>
                                    <div class="title_header_left">
                                        <h2>{{interSection[1].title}}</h2>
                                    </div>
                                    <p class="font-size-20 text_light description">{{interSection[1].content}}
                                    </p>
                                    <button><i v-if="interSection[1].iconButton" :class="interSection[1].iconPath"></i> {{interSection[1].textButton}}</button>
                                
                            </div>
                        </div>
                    </div>
                    <!-- /Takeout section -->

                    <!-- Menus section -->

                    <div id="our menu" class="menus_section flex">

                        <div v-for="menu in menus" class="menu flex flex_colum" :class="{'main_menu': menu.main}"  :style="{ backgroundImage: 'url(' + menu.pathBg + ')' }">
                            <h3  class="text_bold text_uppercase">{{menu.name}}</h3>

                            <div v-for="dish in menu.dishs" class="dish">
                                <div class="name_menu flex">
                                    <h4 class="text_bold text_uppercase">{{dish.name}} </h4> <small class="text_bold"> &dollar;{{dish.price}}</small>
                                </div>
                                <p>{{dish.description}}</p>
                            </div>
                     
                        </div>
                    </div>
                    <!-- /Menus section -->

                    <!-- Dish of day section -->
                    <div class="dish_day_section bgImg-full-cover flex">
                        <div class="dish_card">
                            <div class="dish_name flex">
                                <h4 class="text_bold text_uppercase font-size-34">{{dishOfDay.name}} </h4> <small class="text_bold"> &dollar;{{dishOfDay.price}}</small>
                            </div>
                            <hr>
                            <p>{{dishOfDay.description}}</p>
                            <button> view in the menu</button>
                        </div>
                    </div>
                    <!-- /Dish of day section -->
            </main>
            <!-- Main -->

            <!-- Footer -->
            <footer class="flex flex_colum bgImg-full-cover">
                <div class="container flex flex_colum">
                    <img src="src/img/logo-restaurant.png" alt="logo-footer">
                    <p>Lorem ipsum dolor si saepe perspiciatis eum repudiandae, dolores doloremque. Sequi a vitae, un iciatis nulla!</p>
                    
                    <ul class="social_list flex">
                        <li class="flex" v-for="social in socials"><a href="#" class="font-size-20"><i :class="social.iconPath"></i></a></li>
                    </ul>
                </div>
                
                <div class="copyright">
                    <p><small class="font-size-12">Copyright 2012 - 2019 Avada | All Right Reserved | Powereb By Wordpress | ThemeFusion</small></p>
                </div>
            </footer>
            <!-- Footer -->

        </div>
        <!-- /Root -->

    <script src="src/js/script.js"></script>

    </body>

</html>