button{
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid $textColorMain;
    font-size: 12px;
    padding: 10px 35px;
    color: $textColorMain;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    font-family: 'Antonio', sans-serif;
    letter-spacing: 2px;
}
button:hover{
    background-color: $secBgColor;
    color: $textColorSec;
}
.btn_light{
    border: 1px solid $textColorThird;
    color: $textColorSec;
}
.btn_light:hover{
    border: 1px solid $textColorSec;
    color: $textColorSec;
}