.bgImg-full-cover{
    background-repeat: no-repeat;
    background-size: cover;
}

.flex{
    display: flex;
    justify-content: space-around;
}
.flex_colum{
    flex-direction: column;
}

ul{
    list-style: none;

    & a{
        text-decoration: none;
    }
}

h2,h3{
    text-transform: uppercase;
}
h2{
    font-size: 60px;
    overflow-wrap: break-word;
}
// Fonts size

@for $i from 1 through 19 {
    .font-size-#{ ($i * 2) +10} {
      font-size: ($i * 2) +10px;
    }
  }

.text_uppercase{
    text-transform: uppercase;
}  
.text_light{
    font-weight: 100;
}


strong{
    text-transform: uppercase;
}


.title_section{
    & >h2{
        margin-top: 150px;
        margin-bottom: 25px;
        font-weight: 100;
        font-family: 'EB Garamond', serif;
        font-family: 'Libre Baskerville', serif;
    }

    & > hr{
        width: 60px;
        margin: 0 auto;
        margin-bottom: 50px;
        border-color: #f0f0f0;
    }
}