.critics_section{
    width: $widthFirstSection;
    margin: 0 auto;
    padding-bottom: 150px;
    align-items: center;

     .card{
        margin: 40px;
        height: 85vh;
        color: $textColorMain;
        transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
      
        .author{
            font-family: 'Antonio', sans-serif;
            letter-spacing: 2px;
        }
         i{
            margin: 0 5px;
        }
         hr{
            width: 60px;
            opacity: 0.7;
        }
         > .critic_content{
            line-height: 22px;
            font-family: Helvetica Neue;
            padding-right: 50px;
        } 
    }
     > .main_card{

         > .left_card{
            background-image: url("../src/img/blog72x-1200x1375.jpg");
            background-repeat: no-repeat;
            background-position: 0 0;
            flex: 1;
            height: 100%;
        }
         > .right_card{
            transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            -moz-transition: all .4s ease-in-out;
            -ms-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;

            flex-direction: column;
            background-color: $mainBgColor;
            flex: 1;
            justify-content: flex-start;
            height: 100%;
            padding-top: 100px;
            
            >*{
                margin-left: 100px;
                margin-right: 50px;
                margin-top: 40px;
            }

             > .critic_content{
                line-height: 22px;
                font-family: Helvetica Neue;
                padding-right: 30px;
    
    
                & > p{
                    margin-top: 20px;
                }
            } 
        }
    }

     > .main_card:hover{
         > .right_card{
             cursor: pointer;
            transform: scale(1.04);
            -webkit-transform: scale(1.04);
            -moz-transform: scale(1.04);
            -ms-transform: scale(1.04);
            -o-transform: scale(1.04);
            }
    }

     > .secondary_cards {
        margin-top: 0;
        height: 65vh;
        
         > *{
            padding: 90px;
            height: 100%;
            background-position: center 30%;
            box-shadow: inset 0 200px 300px 80px $mainBgColor;
            flex: 1;
        }

        > *:hover{
                cursor: pointer;
                transform: scale(1.04);
                -webkit-transform: scale(1.04);
                -moz-transform: scale(1.04);
                -ms-transform: scale(1.04);
                -o-transform: scale(1.04);
            }
        
         > *:nth-child(1){
            background-image: url("../src/img/info52x.jpg");
            background-repeat: no-repeat;
            margin-right: 20px;
        }
         > *:nth-child(2){
            background-image: url("../src/img/info12x.jpg");
            background-repeat: no-repeat;
            margin-left: 20px;

        }


    }
}

