header {

    width: $widthHeader;
    height: $heightHeader;

    // Top header
    &>.top_header {
        position: absolute;
        height: 15vh;
        width: 100%;
        align-items: center;

        // Logo

        & img {
            width: $withLogoHeader;
        }

        // Navbar menu header
        & .nav_bar_menu_header {

            position: relative;
            z-index: 3;

            &>li {
                margin: 0 20px;

                & > a.active_menu_item {
                    color: $textColorMain;
                }
            }
           
            & a {
                color: $textColorThird;
                text-transform: capitalize;
            }
        }
    }

    > .header_content{
      
        width: 100%;
        flex-direction: row-reverse;

            > .left_inter_sec_section {
                
                background-image: url("../src/img/slider52x.jpg");
                box-shadow: inset 0 40px 100px 0px rgba(0, 0, 0, 1);
                height: 100%;
                flex-basis: 55%

            } 

            > .right_inter_sec_section{
                
                > :nth-child(1){
                    margin-top: 100px;
                }

                height: 100%;
                flex-basis: 45%
            }
    }

}



