.inter_sec_section{
    color:  #fff;
    flex: 1;

    & > *{
        height: 70vh;
    }


    & > .left_inter_sec_section{
        flex: 1;
        background-position: 50% 10%;
    }


    & > .right_inter_sec_section{
        padding: 100px;
        padding-right: 150px;
        flex: 1;
        background-color: #000;
        align-items: flex-start;

        & > *:not(p:nth-child(1)){
           margin-left: 130px;
        }

        & > p:nth-child(1){

            align-items: center;
            & > span{
                margin-right: 75px;
                width: 60px;
                border-bottom: 1px solid #fff;
            }
        }
        & > p:nth-child(3){
            overflow-wrap: break-word;
                color: $secondaryColorText;
                font-family: Helvetica Neue;
                letter-spacing: 3px;
                line-height: 30px;
        }
      
    }

    & i {
        margin-right: 5px;
    }
}