// Header

$widthHeader: 100%;
$heightHeader: 100vh;


// LogoHeader

$withLogoHeader: 50%;

// Left header
$secondaryColorText: #bcbcbc;

// Right header

$heightRightHeader: 100%; 

$widthFirstSection: 70%;



// Menu
$widthMenusSec: 90%;
$bgMainMenu: #000;
$gbSecMenu: #E8E8E8;

$textMainMenu: #fff;
$textSecMenu: #000;


$textColorMain: #fff;